@import "bootstrap/dist/css/bootstrap.css";
@import "datatables.net-dt/css/jquery.dataTables.min.css";

:root {
  --bg-primary: #0178bb;
  --bg-bluegreen: #00a8b6;
  --bg-orange: #e87722;
  --bg-purple: #9367b9;
  --bg-yellow: #ffc72c;
  --bg-green: #78be20;
  --bg-gray: #d3d3d3;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #e3e3e3;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.banner {
  height: 80px;
  width: 100vw;
  background-color: var(--bg-primary);
}

.footer {
  height: 40px;
  width: 100vw;
  background-color: var(--bg-yellow);
}

.container-360 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 50px;
}

.right-panel {
  width: 1276px;
  display: flex;
  flex-direction: column;
}

.acct-info {
  width: 412px;
  border-top: 3px solid #0178bb;
}

.main-info {
  margin-bottom: 15px;
  display: flex;
}

.main-info .logo {
  height: 52px;
  width: 52px;
  margin-right: 15px;
}

.main-info .logo img {
  width: 100%;
}

.info-group {
  flex: 1;
}

.info-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-headers a {
  justify-self: flex-end;
}

.acct-summary {
  padding-top: 15px;
  padding-bottom: 15px;
}

.acct-summary-group {
  display: flex;
  justify-content: start;
}

.acct-sum-col-1,
.acct-sum-col-2 {
  width: 151px;
  text-align: left;
}

.acct-sum-col-1 {
  margin-right: 50px;
}

.alert-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
}

.program-header {
  margin-bottom: 15px;
}

.enrolled-prog {
  margin-top: 15px;
}

.enrolled-prog a {
  display: block;
}

.tab-content {
  height: 850px;
  margin-top: 20px;
}

/** UTILITIES **/

/* Colors */
.color-primary {
  color: var(--bg-primary);
}

.color-light {
  color: #fff;
}

.bg-bluegreen {
  background: var(--bg-bluegreen);
}

.bg-orange {
  background: var(--bg-orange);
}

.bg-purple {
  background: var(--bg-purple);
}

.bg-yellow {
  background: var(--bg-yellow);
}

.bg-green {
  background: var(--bg-green);
}

.bg-primary {
  background: var(--bg-primary);
}
/* End of Colors*/

/* UTILITIES */
img {
  width: 100%;
  height: 100%;
}

h6 {
  font-size: 0.75rem;
  height: 17px;
  margin: 0;
}

h5 {
  font-size: 0.875rem;
  font-weight: 500;
  height: 19px;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

.btn-link {
  color: #0059a4;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.btn-link:hover {
  cursor: pointer;
  color: #0059a4;
}

.btn-link-sm {
  color: #0059a4;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.btn-link-sm:hover {
  cursor: pointer;
  color: #0059a4;
}

.field-label {
  font-size: 0.75rem;
  margin-bottom: 5px;
  line-height: 1.0625rem;
  font-weight: 700;
}

.field-value {
  font-size: 0.875rem;
  margin-bottom: 20px;
  line-height: 1.1875rem;
}

.icon {
  margin-right: 12px;
}

.circle-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.circle-logo-icon {
  width: 16px;
  height: 18px;
  color: #fff;
  margin-left: 4px;
}

.card-360 {
  background-color: #fff;
  padding: 30px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-top: 3px solid var(--bg-primary);
}

.card-360-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-360-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid darkgray;
  margin-bottom: 20px;
}

.card-360-header > ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.card-360-header > ul > li + li {
  margin-left: 15px;
}

.card-360-header-icon-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.card-360-header-icon {
  width: 16px;
  height: 18px;
  color: #fff;
  margin-left: 4px;
}

.card-360-field-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-360-field-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.loading::before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 12px);
  right: calc(50% - 12px);
  height: 25px;
  width: 25px;
  border: 5px solid #fff;
  border-top-color: var(--bg-primary);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.horizontal-line {
  height: 1px;
  width: 100%;
  background-color: darkgrey;
}

.card-360-horizontal-line {
  height: 2px;
  width: 100%;
  background-color: darkgray;
}

/** END OF UTILITIES **/

/** NAV **/
/* RIGHT PANEL TAB START */
.tab-360 {
  position: relative;
}

.tab-360 > .tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  overflow: auto;
  white-space: nowrap;
}

.tab-360 > .tab-list::-webkit-scrollbar-thumb:horizontal {
  background: gray;
  border-radius: 10px;
}

.tab-360 > .tab-list::-webkit-scrollbar {
  height: 5px;
  background: #fff;
}

.tab-360 > .tab-list > li + li {
  margin-left: 20px;
}

.tab-360 > .tab-list > li {
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
  color: #4a4a4a;
  font-weight: 700;
}

.tab-360 > .tab-list > li.active:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--bg-primary);
}

.tab-360 > .tab-list > li:not(.active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--bg-orange);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.15s linear;
}

.tab-360 > .tab-list > li:not(.active):hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.tab-360 > ul a {
  cursor: pointer;
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 700;
}

.tab-underline {
  height: 3px;
  width: 100%;
  background-color: darkgrey;
  margin-top: -3px;
  z-index: -1;
}

[data-tab-target] {
  text-transform: capitalize;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

.tab-close {
  color: gray;
  margin-left: 10px;
}

.tab-close:hover {
  color: red;
}

/* RIGHT PANEL TAB END */
/** END OF NAV **/

/* MAIN 360 */

/** TAB CONTENT: 360 TAB START **/

.widgets {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left-widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  gap: 20px;
}

.right-widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 556px;
  gap: 20px;
}

.bill-summary {
  height: 284px;
  width: 100%;
  border-top: 3px solid #00a8b6;
}

.pay-coll {
  height: 242px;
  width: 100%;
  border-top: 3px solid #e87722;
}

.svc-info {
  height: 284px;
  width: 100%;
  border-top: 3px solid #9367b9;
}

.outage {
  height: 284px;
  width: 100%;
  border-top: 3px solid #ffc72c;
}

.programs {
  height: 546px;
  width: 100%;
  border-top: 3px solid #78be20;
}

/* END OF MAIN 360 */

/** CONTACTS TAB **/
.contacts-tab {
  width: 100%;
  height: 800px;
}

/*** SUB ACCOUNTS TAB **/
.subaccount-tab {
  width: 100%;
  height: 800px;
}

.dataTables_wrapper .dataTables_paginate {
  width: 100%;
  text-align: center;
}

#contacts-table_wrapper {
  border-top: 1px gray solid;
}

.dataColumnLink {
  cursor: pointer;
}

@media only screen and (max-width: 1600px) {
  .main-360 {
    height: auto;
  }

  .container-360 {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
  }
}
